:root {
//colors
--text-primary: white;
--bg-primary: #080A1E;
--bg-primary-half-opacity: #080A1E80;
--table-border: linear-gradient(152.67deg, #11183C -5.94%, #E7E9F5 55.4%, #343958 82.96%);
--option-link-bg: linear-gradient(180deg, rgb(#0A0E24 / 0.9) 0%, rgb(#0A0E24 / 0.45) 100%);
--blue-50: #4C81D0;
--blue-75: #3a447a;
--blue-100: #1A1F39;

//container
--container-sm: 20px;
--container-md: 40px;
--container-width-md: 860px;
--container-width-lg: 1180px;

// common
--transition-time: 0.3s;
}

